.App {
  text-align: center;
}

.container-response {
  height: 450px;
}

tr {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.badge-success {
  background-color: #468847;
}
.badge-error {
  background-color: #b94a48;
}

.container-button-login > button {
  width: 100% !important;
}

.label-powered {
  margin-left: 5%;
  margin-top: -2%;
}

.buttons-action{
  width: 100%;
  height: 100px;
  margin-top: 60%;
  margin-left: 5px;
}

.fraude-form{
  margin-left: 4px;
  margin-right: 4px;
  border: 1px solid aliceblue;
}

@media only screen and (max-width: 719px) {
  .buttons-action{
    width: 100%;
    height: 50px;
    margin-top: 20%;
    margin-left: 3px;
  }

  h4 {
    font-size: 13px;
  }

  button {
    font-size: 12px;
  }
  
}

.title-votos-agregados {
  font-weight: bold;
}

.text-about {
  margin-left: 25%;
  margin-right: 25%;
  text-align: justify;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
